.container{
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    margin: 300px auto;
    background-color: bisque;
    padding: 25px;
    border-radius: 15px;
    border: #1100ff solid;
    display: grid;
}
p{
    margin-top: 45px;
    font-size: 25px;
    margin-left: 10px;
}
#display{
    width: 280px;
    height: 120px;
    max-width: 300px;
    background-color: black;
    color: aliceblue;
}
button{
    width: 60px;
    font-size: large;
    margin: 4px;
    background-color: white;
}
button:hover{
    background-color: rgb(106, 106, 106);
}
button:active{
    background-color: rgb(64, 64, 64);
}
.key--equal{
    width: 280px;
}
.key--operator{
    background-color: rgb(90, 88, 88);
}
